* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.custom-nav {
  max-width: 100%;
  height: 100px;
}

.navbar .navbar-brand img {
  height: 150px;
}

.collapse .navbar-nav .nav-item a {
  color: white;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: big john;
  width: 100%;
  height:  100vh;
}

.section-title {
  font-size: 60px;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 24px;
}
#section1 {
  background-color: black;
}

#section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9c9c9;
  font-size: 2rem;
}

#section1 button {
  margin-top: 5rem;
  font-size: 3vw;
  text-decoration: none;
}

#section1 button a {
  text-decoration: none;
  color: white;
}

#section2 img {
height: 80vh;
width: 80vw;
}

.glow-on-hover {
    width: 50vw;
    height: 10vh;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
